.Numpickerwrapper {
	color: #19a2a6;
	text-align: left;
	padding: 20px;
	width: 400px;

}

.Numpickerwrapper-content  {
	margin: 20px 0px;
}

.Numpickerwrapper-numtag {
	display: inline-block;
	background-color: #1d434f;
	margin: 5px;
	padding: 5px;
	text-align: center;
	min-width: 20px;
	height: 20px;
	border-radius: 2px;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
}

.Numpickerwrapper .selected {
	background-color: #9013fe;
}